<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<th:block th:include="fragments/resources :: css"></th:block>
<title>Spring Boot Test</title>
</head>

<body>

	<th:block th:include="fragments/header :: header"></th:block>

		<div class="container" id="contentbody" layout:fragment="content">
			<div class="row">
				<div class="col lg-12">
					<p>Insert Content Here</p>
				</div>
			</div>
		</div>

	<th:block th:include="fragments/resources :: js"></th:block>
</body>
</html>